<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!--  Video Parameters  -->
    <add key="VideoBitrateMin" value="1000"/>
    <add key="VideoBitrateMax" value="4645"/>
    <add key="VideoFormat" value="AVC"/>
    <add key="VideoFrameMode" value="Constant"/>
    <add key="VideoFormatID" value="H264"/>
    <add key="VideoFrameRateMin" value="25"/>
    <add key="VideoFrameRateMax" value="50"/>
    <add key="VideoHeightMin" value="576"/>
    <add key="VideoHeightMax" value="576"/>
    <add key="VideoWidthMin" value="720"/>
    <add key="VideoWidthMax" value="720"/>
    <add key="VideoIsInterlaced" value="false"/>
    
    <!--  Audio Parameters  -->    
    <add key="FrameRateMax" value="50"/>
    <add key="FrameRateMax" value="50"/>
    
  </appSettings>
</configuration>
